<!DOCTYPE html>
<html>
  <head>
    <title>KindaRight</title>
    <% include includes/head_common.ejs %>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/new_bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/shapes.css">
    
    <link rel="stylesheet" type="text/css" href="/ui.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">

  </head>
  <body>

  	
  
    <!-- NavBar Object -->
	  <% include includes/navbar.ejs %>
  	<!-- End NavBar Object -->
    
    <div class="page head">
      <h3>
        Tags
      </h3>
      <form class="navbar-form" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" name="tag" id="tagbar">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit" id="tagbutton"><span class="glyphicon glyphicon-search"></span></button>
              </div>
            </div>
      </form>
        <div class="fluid-container" id="community">
         <% if (Tags.length) { %>
          <% Tags.forEach(function(name){ %>
            <a href=<%= name%>>
                  <!-- <div class="pictures-overlay"></div>
                <div class="inline"> -->
                  <img src=<%=name%> height="150" >
                <!-- </div> -->
                </a>
          <% }) %>
        <% } %>
        </div>
      
      <h3>
        Featured
      </h3>
      <div class="fluid-container" id="suggestions">
        <% 
          var one = new Array();
          var two = new Array();
          var three = new Array();
          var four = new Array();
          var o = 0, t = 0, th = 0, f = 0, i = 0;
          var name = null;
          Pictures.forEach(function(n){ 
            if ( i == 0)
              one[o++] = n;
            if ( i == 1)
              two[t++] = n;
            if ( i == 2)
              three[th++] = n;
            if ( i == 3)
              four[f++] = n;

            i = (i + 1) % 4;
          })
        %>

            
          <div class="picture-column inline" >
            <% for (var index = 0; index < one.length; index++) { %>
              <div class="picture inline relative full-width">
                  <a href=<%=one[index % one.length]%>>
                      <div class="pictures-overlay"></div>
                    <div class="inline full-width">
                      <img src=<%= one[index % one.length]%> width="100%" >
                    </div>
                  </a>
                </div>
            <% } %>
          </div>
          <div class="picture-column inline">
            <% for (var index = 0; index < two.length; index++) { %>
              <div class="picture inline relative full-width">
                  <a href=<%=two[index % two.length]%>>
                      <div class="pictures-overlay"></div>
                    <div class="inline full-width">
                      <img src=<%= two[index % two.length]%> width="100%" >
                    </div>
                  </a>
                </div>
            <% } %>
          </div>
          <div class="picture-column inline">
            <% for (var index = 0; index < three.length; index++) { %>
              <div class="picture inline relative full-width">
                  <a href=<%=three[index % three.length]%>>
                      <div class="pictures-overlay"></div>
                    <div class="inline full-width">
                      <img src=<%= three[index % three.length]%> width="100%" >
                    </div>
                  </a>
              </div>
            <% } %>
          </div>
          <div class="picture-column inline" >
            <% for (var index = 0; index < four.length; index++) { %>
              <div class="picture inline relative full-width">
                  <a href=<%=four[index % four.length]%>>
                      <div class="pictures-overlay full-width"></div>
                    <div class="inline full-width">
                      <img src=<%= four[index % four.length]%> width="100%" >
                    </div>
                  </a>
              </div>
            <% } %>
          </div>
      </div>
    </div>

  <!-- Script References -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <script src="ui.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
  <script src="../js/jquery.cookie.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
  <!-- End Script References -->



  </body>
</html>