<!DOCTYPE html>
<html>
  <head>
    <title>KindaRight</title>
    <% include includes/head_common.ejs %>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/new_bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/shapes.css">
    
    <link rel="stylesheet" type="text/css" href="/ui.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">

    <style type="text/css">
    	.image-page {
    		background: url('<%=Image%>') center center;
    		background-size: 100%;
    	}

    	.image {
    		/*background: url('<%=Image%>') center center no-repeat;*/
    		margin: 0 auto;
    		text-align: center;


    	}
    </style>
  </head>
  <body>
  
  <!-- NavBar Object -->
	  <% include includes/navbar.ejs %>
  	<!-- End NavBar Object -->
	<!-- <div class="page accent-head">
		<div class="container">
	  		<div class="center-image">
	  			<img id="pic_test" src=<%=Image%> >
	  		</div>
	  	</div>
    </div>
	<div class="page">
		<div class="container">	
			<div class="messages">
			
				<% if (Messages && Messages.length) { %>
				  <div id="_repos" class="visible-lg visible-md">
				    <% for (var i = 0; i < Messages.length; i++){ %>
				    	<p class="inline blue-fg"><%=Messages[i].Username%> &nbsp</p><p class="inline scrawl"><%=Messages[i].Message%></p><p></p>
				    <% } %>
				  </div>
				<% } %>


				
			</div>
			<div id="chatPanel" class="ui-widget-content">
				
				<div id="messages"></div>
				
				<textarea class="form-control" id="chat_message" placeholder="Enter message here"></textarea>
				<button type="submit" class="btn btn-success" id="message_submit">Add Comment</button>
		
	  		</div>
	  	</div> -->

	  	<div class="image-page">
	  		<div class="dark-layer"></div>
	  	</div>
	  	<div class="image-container">
	  		<div class="image">
	  			<img src=<%= Image%>>
	  		</div>
	  		
	  	</div>
	  	<div class="comment-container">
	  		<div id="chatPanel" class="ui-widget-content">
				
				<div id="messages"></div>
				
				<textarea class="form-control" id="chat_message" placeholder="Enter message here"></textarea>
				<button type="submit" class="btn btn-success" id="message_submit">Add Comment</button>
		
	  		</div>
	  		<% if (Messages && Messages.length) { %>
			  <div id="_repos" class="visible-lg visible-md">
			    <% for (var i = 0; i < Messages.length; i++){ %>
			    	<p class="inline blue-fg"><%=Messages[i].Username%> &nbsp</p><p class="inline scrawl"><%=Messages[i].Message%></p><p></p>
			    <% } %>
			  </div>
			<% } %>
	  	</div>
	</div>
  <!-- Script References -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <script src="../../../ui.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
  <script src="../../../js/jquery.cookie.js"></script>
  <script type="text/javascript" src="../../../javascripts/main.js"></script> 
  <!-- End Script References -->
  </body>
</html>