<!DOCTYPE html>
<html>
  <head>
    <title>KindaRight</title>
    <% include includes/head_common.ejs %>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/new_bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/shapes.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/user.css">
    
    <link rel="stylesheet" type="text/css" href="/ui.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">

  </head>
  <body>
  
  <!-- NavBar Object -->
	  <% include includes/navbar.ejs %>
  	<!-- End NavBar Object -->
  	<div class="page accent-head">
  		
  	    <p id="userId"><%= First_Name %> <%=Last_Name %></p>
  	    <h3 id="discipline">Discipline: <%= Discipline %></h3>
		<img src=<%=Profile_Picture %> height="150" width="125">

	</div>
	<div class="page">
    <% if (Repositories.length) { %>
      <ul id="repos">
        <div class="relative inline" id="repositoryButton">
          <div class="list-overlay"></div>
          <li class="inline"></li>
        </div>
        <% Repositories.forEach(function(name){ %>
          <div class="relative inline" id="repo_list">
            <div class="list-overlay"></div>
            <li class="inline"><%= name %></li>
          </div>
        <% }) %>

      </ul>
    <% } else { %>
      <ul id="repos">
          <div class="relative inline" id="repositoryButton">
            <div class="list-overlay"></div>
            <li class="inline"></li>
          </div>
        </ul>
    <% } %>
  </div>

  <!-- Script References -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <script src="../ui.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
  <script src="../js/jquery.cookie.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
  <!-- End Script References -->
  </body>
</html>