<!DOCTYPE html>
<html>
  <head>
    <title>KindaRight</title>
    <% include includes/head_common.ejs %>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/new_bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/ui.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/shapes.css">
    
    <style>
		#bg {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;

			z-index: -1;
			-webkit-filter: grayscale(.8) blur(20px);
			background: url('<%= Repo[5] %>');
			background-size: 100%;
		}
    </style>
    

  </head>
  <body>
  <!-- <div id="bg"></div> -->
  
  <!-- NavBar Object -->
	 <% include includes/navbar.ejs %>
  	<!-- End NavBar Object -->
  		
    

	<div class="page dark-head">
		<h1>
  			<%=Name%>
  		</h1>
  			
		<div class="inline">
  			<button type="submit" class="btn btn-success" data-toggle="modal" 
  			data-target="#addPicturesModal" id="launchPictureModal">Add More Pictures</button>
  		</div>
  		<div class="tags inline">
	    	<p class="fine-print">
	    		Tags: <%= Tags %>
	    	</p>
    	</div>
    </div>
	<div class="page">
		<% if (Repo.length) { %>

		<!-- SCREEN FOR LARGE RESOLUTIONS -->
		  <div id="_repos" class="visible-lg visible-md">
		    <% 
		    	
		    	var one = new Array();
		    	var two = new Array();
		    	var three = new Array();
		    	var four = new Array();
		    	var o = 0, t = 0, th = 0, f = 0, i = 0;
		   		var name = null;
		    	Repo.forEach(function(n){ 
		    		if ( i == 0)
		    			one[o++] = n;
		    		if ( i == 1)
		    			two[t++] = n;
		    		if ( i == 2)
		    			three[th++] = n;
		    		if ( i == 3)
		    			four[f++] = n;

		    		i = (i + 1) % 4;
		    	})

		    	

		    %>

			    	
					<div class="picture-column inline" >
						<% for (var index = 0; index < one.length; index++) { %>
							<div class="picture inline relative full-width">
						    	<a href=<%=one[index % one.length] + "/view"%>>
							      	<div class="pictures-overlay"></div>
								    <div class="inline full-width">
						    			<img src=<%= one[index % one.length]%> width="100%" >
								    </div>
							    </a>
			    			</div>
						<% } %>
					</div>
					<div class="picture-column inline">
						<% for (var index = 0; index < two.length; index++) { %>
							<div class="picture inline relative full-width">
						    	<a href=<%=two[index % two.length] + "/view"%>>
							      	<div class="pictures-overlay"></div>
								    <div class="inline full-width">
						    			<img src=<%= two[index % two.length]%> width="100%" >
								    </div>
							    </a>
						    </div>
						<% } %>
					</div>
					<div class="picture-column inline">
						<% for (var index = 0; index < three.length; index++) { %>
							<div class="picture inline relative full-width">
						    	<a href=<%=three[index % three.length] + "/view"%>>
							      	<div class="pictures-overlay"></div>
								    <div class="inline full-width">
						    			<img src=<%= three[index % three.length]%> width="100%" >
								    </div>
							    </a>
							</div>
						<% } %>
					</div>
					<div class="picture-column inline" >
						<% for (var index = 0; index < four.length; index++) { %>
							<div class="picture inline relative full-width">
						    	<a href=<%=four[index % four.length] + "/view"%>>
							      	<div class="pictures-overlay full-width"></div>
								    <div class="inline full-width">
						    			<img src=<%= four[index % four.length]%> width="100%" >
								    </div>
							    </a>
							</div>
						<% } %>
					</div>
		  </div>
		  <!-- RESPONSIVE SCREEN FOR SMALL RESOLUTIONS -->
		  <div id="_repos" class="hidden-lg hidden-md">
		    <% Repo.forEach(function(name){ %>
			    <div class="picture-sm inline relative">
			      	<div class="pictures-overlay"></div>
				    <div class="inline">
							<img src=<%=name%> height="150px">		
				    </div>
			    </div>
		    <% }) %>
		  </div>
		<% } %>
	</div>


	<!-- Forgot Modal -->
	  <div class="modal fade" id="addPicturesModal">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 class="modal-title">Add Pictures</h4>
	        </div>
	        <div class="modal-body" id="modal-add">
	          <p>Please choose all the pictures you would like to add to this gallery</p>
		    <form class="form-horizontal" id="repo_add" method="POST" action="/repository" enctype="multipart/form-data">
		    	<div class="form-group">
	                <input type="text" class="form-control" name="repo_name" id="repo_name"value=<%=Name%> readonly="readonly">
	            </div>
	            <div class="form-group">
	                <input type="text" class="form-control" placeholder="Enter each tag name seperated by a comma" name="tags" id="tags">
	            </div>
	            <div class="form-group">
	                <input type="file" class="form-control" name="repo_pics" id="addPictures" multiple>
	            </div>
	            <button type="submit" class="btn btn-primary" id="addPictures">Add Pictures</button>
	          </form>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	    </div>
	  </div>
	  <!-- End Forgot Modal -->
  <!-- Script References -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <script src="../../../ui.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
  <script src="../../../js/jquery.cookie.js"></script>
  <script type="text/javascript" src="../../../javascripts/main.js"></script> 
  <!-- End Script References -->
  </body>
</html>